.Users {
  text-align: center;
}

.Users-header {
  background-color: #282c34;
  min-height: 100h;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Users-content {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Users-input {
  min-width: 100vh;
  min-height: 30px;
}

.Users-label {
  min-width: 100vh;
  min-height: 30px;
}

.Users-button {
  min-width: 100vh;
  min-height: 40px;
  color: black;
  font-size: calc(10px + 2vmin);
  margin-top: 20px;
}

.Users-link {
  color: #61dafb;
}
